.header {

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;

	&__profile-pic {
		vertical-align: bottom;
		width: calc(var(--baseline) * 4);
		color: var(--color-text);
		margin-bottom: calc(var(--baseline) / 2);
	}

	&__name {
		font-weight: 700;
		margin: 0;
		line-height: var(--space-lg);
		font-size: var(--text-md);
		color: var(--color-text);
	}

	&__position {
		font-weight: 300;
		margin: 0;
		line-height: calc(var(--baseline)*1.5);
		font-size: var(--text-md);
		color: var(--color-text);
	}

	&__location {
		// font-weight: 300;
		margin: 0;
		line-height: calc(var(--baseline)*1.5);
		color: var(--color-text);
	}
}
