/* Webfont: RenoMono-Regular */@font-face {
    font-family: 'RenoMono';
    src: url('./RenoMono.woff2') format('woff2'), /* Modern Browsers */
         url('./RenoMono.otf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

