.menu {
	text-align: right;
	margin: var(--space-xl) 0;

	&__list {
		list-style: none;
	}
	&__link {
		text-decoration: none;
		// font-weight: 300;
		color: var(--color-text);

		&:visited {
			color: var(--color-text);
		}
	}
}
